@model PersonAndProductWrapperModel
<!DOCTYPE html>

<html>
<head>
    <title>Person With Product</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <div>
        <h3>Person</h3>
        <table>
            <tbody>
            <tr>
                <th>Name</th>
                <td>@Model.PersonData.Name</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Model.PersonData.PersonGender</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>@Model.PersonData.DateOfBirth?.ToString("MM/dd/yyyy")</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Product</h3>
        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>@Model.ProductData.ProductId</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Model.ProductData.ProductName</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>